Updated process:
```json
{{ process }}
```

If you believe you have completed the necessary change request and want to stop editing the process, output the following JSON:

```json
{
  "stop": true
}
```

Otherwise, you may continue editing the process using the previously mentioned functions.